.ui-autocomplete { 
    max-height: 100px; 
    background-color: darkgrey;
    overflow-y: scroll; 
    overflow-x: hidden;
    border: 1px solid #212529;
    border-radius: 0.25rem;
}

.inline {
    display: inline;
}

.w-100 {
    width: 100%;
}