/* Ben added these styles lol */
body {
    min-height: 100vh;
    min-width: 100vw;
}

#landing-message {
    text-align: center;
}
main {
    min-height: 100vh;
}

select {
    height: 40px;
    width: 100%;
}

.columns {
    margin: 0;
    display: flex;
}

.ui-autocomplete { 
    max-height: 100px;
    max-width: 25vw;
    background-color: darkgrey;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #212529;
    border-radius: 0.25rem;
}

.name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    margin-top: 0;
}

.creature-card {
    border: 1px solid black;
    max-width: 48%;
    max-height: 50%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#encounter-container {
    display: flex;
    flex-wrap: wrap;
}

.second-column {
    border-left: 1px solid black;
    padding-top: 0;
}

table {
    text-align: center;
}

.creature-block {
    border-bottom: 1px solid red;
}

.inline {
    display: inline;
}

.w-100 {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.ui-helper-hidden-accessible{
    display:none !important;
}
/* End Ben Styles */

/* these styles are from bk */
.modal-content {
    height: 20vh;
    width: 20vw;
}

#dice-result {
    font-size: 2em;
}

#landing-message{
    font-size: xx-large;
}
/* end bk styles */


/* Media Queries Start */
@media only screen and (min-width:769px) {
    .btn-bar {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        height: fit-content;
    }

    #encounter-container {
        min-width: 100%;
        min-height: 1vh;
    }

    .second-column {
        min-height: 150vh;
        height: fit-content;
    }
}

@media only screen and (max-width: 768px) {
    #encounter-container{
        padding: 5px;
    }

    .creature-card {
       max-width: 100%;
    }

    .btn-bar {
        width: 100%;
    }
    .second-column {
        border-top: 1px solid black;
        width: 100%;
    }

    .columns {
        flex-wrap: wrap;
    }
}

