/* html page styling */
.main-background{
    background-image: url('https://c.tenor.com/qMKw3QR1aCUAAAAd/medieval-inn.gif');
    background-size: cover;
    background-position: center;
}
.header {
    background-image: url('../images/scroll-header.jpg');
    background-size: cover;
    background-position: center;
}
.navigation{
    border-bottom: 3px black;
}

.hero-img {
    background-image: url('../images/hero1.0.jpg');
    background-size: cover;
    background-position: center;
}

.btn-bar{
    height: 100vh;
    border-right: 5px dashed blue;
    
}

.z-index{
    z-index: 5;
}

.cards-index{
height: 100vh;
border: 5px solid red;
}

.card-display{
    height: 100vh;
border: 5px solid blue;

}


/* Ben added these styles lol */
.ui-autocomplete { 
    max-height: 100px;
    background-color: darkgrey;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #212529;
    border-radius: 0.25rem;
}

.name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    margin-top: 0;
}

.creature-card {
    border: 1px solid black;
    width: 100%;
    padding: 8px;
    margin: 8px;
}

table {
    text-align: center;
}

.creature-block {
    border-bottom: 1px solid red;
}

.inline {
    display: inline;
}

.w-100 {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.ui-helper-hidden-accessible{
    display:none !important;
}
/* End Ben Styles */

/* html page styling */
